@import '../colors';
@import '../mixins';

#login-container-fluid{
  @include flex(column, center);
  margin-top: calc(50vh - 225px)!important;
}

.login-container{
  background-color: $Gardenia;
  @include flex(column, center);
  padding: 50px!important;
  max-width: 600px!important;
  height: 450px;
}


#circle-icon-login {
  @include flex-item(1, 0, center);
  // background-image: url('~/src/img/circle-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 226px;
  height: 226px;
}

#fb-login-btn {
  @include flex-item(2, 0, center);
  // background-image: url('~/src/img/fb-login-btn.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 412px * 0.8;
  height: 67px * 0.8;
  margin-top: 20px!important;
  cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.9;
    }
}
