@import 'colors';
@import 'mixins';
@import '~bootstrap/scss/bootstrap';

#messages-container-fluid {
  display: none;
}

form {
  @include flex(row, center);
}

#message-input {
  @include flex-item(1, 0, center);
  width: 80%!important;
  height: 50px;
  border:1px solid $UltraViolet;
  padding: 10px;
}
input[disabled] {
   // background: rgba(100, 100, 100, 0.3);
}

#send-message {
  @include flex-item(2, 0, center);
  width: 20%!important;
  height: 50px;
  border:1px solid $UltraViolet;
  color: $White;
  background-color: $UltraViolet;
  cursor: pointer;
}

.messages-container {
  width: 100%;
  height: calc(100vh - 53px - 44px);
  background: $White;
  border: 20px solid $White;
  overflow-y: auto;
}

#fb-logout {
  display: block;
  position: relative;
  background-color: $UltraViolet;
  color: $White;
  border: 10px solid $UltraViolet;
  text-align: right;
}

#logout {
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
