// This Palette was taken from Pantone's Website, inspired by their color of 2018: Ultra Violet: #5f4b8b
$Gardenia: #f1e8df; // PANTONE 11-0604 TCX
$CherryBlossom: #f7cfe1; // PANTONE 13-3207 TCX
$YellowIris: #eee78e; // PANTONE 11-0622 TCX
$UltraViolet: #5f4b8b; //PANTONE 18-3838 TCX
$OchidHush: #cec3d2; // PANTONE 13-3805 TCX
$PeachBud: #fdb2a8; // PANTONE 14-1324 TCX
$LettuceGreen: #bed38e; // PANTONE 13-0324 TCX
$AstralAura: #363151; // PANTONE 19-3830 TCX

$White: #fff;
