$breakpoints: (
  "phone":        576px,
  "tablet":       768px,
  "desktop":      992px,
  "large-desktop": 1200px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin flex($type, $align){
  display: flex;
  flex-flow: $type nowrap;
  justify-content: $align;
  align-content: $align;
  align-items: $align;
}

@mixin flex-item($order, $flex, $align){
  order: $order;
  flex: $flex 1 auto;
  align-self: $align;
}
