@import 'colors';
@import 'mixins';
@import './custom/app';
@import './custom/messages';
@import './custom/login';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: $UltraViolet;
  font-family: 'Montserrat', sans-serif;
}
